body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
}

div.full-screen-overlay {
    /*opacity: 0.5; */
    background: #FFF;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    position: fixed;
}

div.full-screen-overlay div.loading-container {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

@media only screen and (max-width: 800px) {
    div.full-screen-overlay div.loading-container {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 600px) {
    div.full-screen-overlay div.loading-container {
        margin-top: 30%;
    }
}

div.full-screen-overlay div.loading-container img {
    width: 200px;
    height: 200px;
}

div.submit-button-loading-container {
    display: inline-block;
}

div.submit-button-loading-container img {
    height: 40px
}

div.validation-error-alert {
    display: none;
    margin-top: 10px;
    text-align: center;
}

input.error {
    border: 1px dashed red;
}

.centered-container {
    text-align: center;
}

div.total-core-value-container {
    text-align: right;
    font-size: large;
    margin-top: 10px;
}

div.total-core-value-container span {
    font-size: 100%;
}

div.capture-deal-vehicle-core-container {
    height: 75px;
}

.floating-alerts-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 0.9;
    z-index: 100;
}

.slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}


.manage-cores-header {
    border-bottom: 1px solid #DDD;
    padding: 10px 0px;
    font-weight: bold;
}

.manage-cores-row {
    padding: 10px 0px;
    font-size: large;
}

.manage-core-row-error-container {
    padding: 0px;
    text-align: center;
}