<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Deal Vehicle Cores Admin')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.png'])
            ->prependStylesheet($this->basePath('css/style.css'))
            //->prependStylesheet($this->basePath('css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->appendFile($this->basePath('js/node_modules/jquery/dist/jquery.min.js'))
            //->appendFile($this->basePath('js/lib/jquery.validate.js'))
            //->appendFile($this->basePath('js/lib/additional-methods.js'))
            ->appendFile($this->basePath('js/lib/bootstrap.min.js'))
        ?>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">
                        <img src="<?= $this->basePath('img/logo.png') ?>" height="28" alt="CSAR Deal Vehicle Cores Admin"/>&nbsp;Deal Vehicle Cores Admin
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <?= $this->content ?>
            <hr>
            <footer>
                <!-- <p>&copy; <?= date('Y') ?> Superlative Labs https://superlativelabs.com/. All rights reserved.</p> -->
            </footer>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>
