<template>
    <div>
        <template v-if="isInitError">
            <div id="init_alerts_container">
                <div class="alert alert-danger alert-dismissable centered-container">
                    {{ initErrorMessage }}
                </div>
            </div>
        </template>
        <template v-else>

            <h2>Enter the vehicle's extracted cores for deal {{ dealId }}</h2>

            <hr>

            <div class="total-core-value-container">
                Total Value: <span class="label label-success">${{ totalValue }}</span>
            </div>

            <hr>

            <form id="cores_form">
                <template v-for="core in cores">
                    <VehicleCore
                        v-bind:key="core.code"
                        v-bind:core="core"
                        v-on:change-is-extracted="core.isExtracted = $event"
                        v-on:input-price-per-unit="core.pricePerUnit = $event"
                        v-on:input-quantity="core.quantity = $event"
                        v-on:computed-total-price="core.totalPrice = $event">
                    </VehicleCore>
                </template>
            </form>

            <hr>

            <div id="alerts_container"></div>

            <div id="validation_error_container" class="validation-error-alert alert alert-danger alert-dismissable fade in">
                <a class="close" aria-label="close">×</a>
            </div>

            <div>
                <button class="btn btn-primary btn-lg" v-on:click="submit" v-bind:disabled="isLoadingRequest">Save</button>
                <div v-show="isLoadingRequest" class="submit-button-loading-container">
                    <img src="img/loading_small.gif" alt="Loading...">
                </div>

                <div class="total-core-value-container pull-right">
                    Total Value: <span class="label label-success">${{ totalValue }}</span>
                </div>
            </div>

        </template>
    </div>
</template>

<script>
import $ from "jquery";
import VehicleCore from "./VehicleCore.vue";

export default {

    components: {
        VehicleCore
    },

    inject: ["alertsManager", "apiClient", "validator", "urlHelper", "onInit"],

    data: function () {
        return {
            isInitError: false,
            initErrorMessage: "",
            isLoadingRequest: false,
            dealId: null,
            cores: [],
        };
    },

    created: function () {

        this.dealId = this.urlHelper.getQueryStringParam("dealId");

        if (!this.dealId) {
            this.isInitError = true;
            this.initErrorMessage = "No deal number specified.";

            this.onInit();
            return;
        }

        this.apiClient.getDealVehicleCores(this.dealId)
            .then(response => {
                if (response.status == 200) {
                    let dealVehicleCores = response.dealVehicleCores;

                    this.apiClient.getConfigurationData()
                        .then(response => {

                            if (response.status == 200) {
                                let defaultCores = response.cores;

                                this.cores = defaultCores.map(defaultCore => {
                                    let actualCore = dealVehicleCores.find(c => c.vehicleCoreId == defaultCore.id);

                                    return {
                                        vehicleCoreId: defaultCore.id,
                                        code: defaultCore.code.toLowerCase(),
                                        description: defaultCore.description,
                                        isExtracted: actualCore ? true : false,
                                        quantity: actualCore ? actualCore.quantity : defaultCore.defaultQuantity,
                                        pricePerUnit: actualCore ? actualCore.pricePerUnit : defaultCore.defaultPricePerUnit,
                                        totalPrice: actualCore ? actualCore.totalPrice : 0.00
                                    };
                                });

                                defaultCores.forEach(c => {
                                    this.validator.addValidationFor(c.code.toLowerCase(), c.description);
                                });
                            }
                            else {
                                this.isInitError = true;
                                this.initErrorMessage = "Could not retrieve configuration data. Please try again later.";
                            }

                            this.onInit();
                        })
                        .catch(error => {
                            console.log(error);

                            this.isInitError = true;
                            this.initErrorMessage = "There has been a network or server error. Please try again later. " + error;

                            this.onInit();
                        });
                }
                else if (response.status == 400) {

                    this.isInitError = true;
                    this.initErrorMessage = "The specified deal does not exist.";

                    this.onInit();
                }
                else if (response.status == 401) {

                    this.isInitError = true;
                    this.initErrorMessage = "Your session has expired. Please close this window and try to open it again from the Spreadsheet.";

                    this.onInit();
                }
            })
            .catch(error => {
                console.log(error);

                this.isInitError = true;
                this.initErrorMessage = "There has been a network or server error. Please try again later. " + error;

                this.onInit();
            });
    },

    mounted: function () {
        $("div.validation-error-alert a.close").click(function(eventObject) {
            $(eventObject.target.parentElement).hide();
        });
    },

    computed: {
        totalValue: function () {
            let coresTotalValue = 0.00;
            let extractedCores = this.cores.filter(c => c.isExtracted);

            if (extractedCores.length > 0) {
                coresTotalValue = extractedCores.map(c => c.totalPrice).reduce((previous, current) => previous + current);
            }

            return Number(coresTotalValue).toFixed(2);
        }
    },

    methods: {
        submit: function (/*event*/) {

            if (!this.validator.isValid()) {
                return;
            }

            let vehicleCoresData = {
                dealId: this.dealId,
                cores: this.cores
            };

            this.isLoadingRequest = true;

            this.apiClient.submitDealVehicleCores(vehicleCoresData).then(response => {
                console.log(response);

                if (response.status == 200) {
                    this.alertsManager.showSuccess(
                        $("div#alerts_container"),
                        "The cores information has been saved successfully. Please refresh your Spreadsheet to see the changes."
                    );
                }
                else if (response.status == 400) {
                    this.alertsManager.showDanger(
                        $("div#alerts_container"),
                        "There has been a validation error. Make sure the input data is valid.",
                        "VALIDATION_ERROR"
                    );
                }
                else if (response.status == 401) {
                    this.alertsManager.showDanger(
                        $("div#alerts_container"),
                        "Your session has expired. Please close this window and try to open it again from the Spreadsheet.",
                        "SESSION_EXPIRED"
                    );
                }

                this.isLoadingRequest = false;

            }).catch((error) => {
                console.log(error);
                this.alertsManager.showDanger(
                    $("div#alerts_container"),
                    "There has been a network or server error. Please try again later. " + error,
                    "NETWORK_ERROR"
                );
                this.isLoadingRequest = false;
            });
        }
    },
};
</script>
