<template>
    <div>
        <div class="row manage-cores-row">
            <form v-bind:id="core.code + '_form'">
                <div class="col-md-4">{{ core.description }}</div>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="How many parts?" min="0"
                        v-bind:name="core.code + '_quantity'"
                        v-model="core.defaultQuantity" />
                </div>
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="How much for each?" min="0"
                        v-bind:name="core.code + '_price_per_unit'"
                        v-model="core.defaultPricePerUnit" />
                </div>
            </form>

            <div class="col-md-2">
                <button class="btn btn-primary" v-on:click="save" v-bind:disabled="isLoadingRequest">Save</button>
                <div v-show="isLoadingRequest" class="submit-button-loading-container">
                    <img src="img/loading_small.gif" alt="Loading...">
                </div>
            </div>
        </div>
        <div class="row manage-core-row-error-container" v-show="!isValid">
            <div v-bind:id="core.code + '_validation_error_container'" class="alert alert-danger">
            </div>
        </div>
        <div v-bind:id="core.code + '_alerts_container'" class="row manage-core-row-error-container" >
        </div>
    </div>
</template>

<script>
import $ from "jquery";

export default {

    inject: ["alertsManager", "apiClient", "validatorFactory"],

    props: {
        coreToEdit: Object
    },

    data: function () {
        return {
            isLoadingRequest: false,
            isValid: true,
            isServerError: false,

            core: {
                id: this.coreToEdit.id,
                code: this.coreToEdit.code.toLowerCase(),
                description: this.coreToEdit.description,
                defaultQuantity: this.coreToEdit.defaultQuantity,
                defaultPricePerUnit: this.coreToEdit.defaultPricePerUnit,
            }
        };
    },

    methods: {
        save: function (/*event*/) {

            let validator = this.validatorFactory.makeValidator(
                this.core.code,
                this.core.description,
                `form#${ this.core.code }_form`,
                `div#${ this.core.code }_validation_error_container`
            );

            this.isValid = validator.isValid();

            if (!this.isValid) {
                return;
            }

            let coreData = this.core;

            this.isLoadingRequest = true;

            this.apiClient.updateVehicleCore(coreData).then(response => {
                console.log(response);

                if (response.status == 200) {
                    this.alertsManager.showSuccess(
                        $(`div#${ this.core.code }_alerts_container`),
                        "The core's information has been saved successfully."
                    );
                }
                else if (response.status == 400) {
                    this.alertsManager.showDanger(
                        $(`div#${ this.core.code }_alerts_container`),
                        "There has been a validation error. Make sure the input data is valid.",
                        "VALIDATION_ERROR"
                    );
                }
                else if (response.status == 401) {
                    this.alertsManager.showDanger(
                        $(`div#${ this.core.code }_alerts_container`),
                        "Your session has expired. Please close this window and try to open it again from the Account Manager page.",
                        "SESSION_EXPIRED"
                    );
                }

                this.isLoadingRequest = false;

            }).catch((error) => {
                console.log(error);
                this.alertsManager.showDanger(
                    $(`div#${ this.core.code }_alerts_container`),
                    "There has been a network or server error. Please try again later. " + error,
                    "NETWORK_ERROR"
                );
                this.isLoadingRequest = false;
            });
        }
    }
};
</script>

