<template>
    <div>
        <template v-if="isInitError">
            <div id="init_alerts_container">
                <div class="alert alert-danger alert-dismissable centered-container">
                    {{ initErrorMessage }}
                </div>
            </div>
        </template>
        <template v-else>

            <h2>Manage Vehicle Cores</h2>

            <hr>
            
            <div>
                <div class="row manage-cores-header">
                    <div class="col-md-4">Core</div>
                    <div class="col-md-3">Default Quantity</div>
                    <div class="col-md-3">Default Price Per Unit</div>
                    <div class="col-md-2"></div>
                </div>
                <template v-for="core in cores">
                    <EditVehicleCore
                        v-bind:key="core.code"
                        v-bind:coreToEdit="core">
                    </EditVehicleCore>
                </template>
            </div>

            <hr>

        </template>
    </div>
</template>

<script>
import $ from "jquery";

import EditVehicleCore from "./EditVehicleCore.vue";

export default {

    components: {
        EditVehicleCore
    },

    inject: ["apiClient", "onInit"],

    data: function () {
        return {
            isInitError: false,
            initErrorMessage: "",
            isLoadingRequest: false,
            cores: [],
        };
    },

    created: function () {
        this.apiClient.getConfigurationData()
            .then(response => {

                if (response.status == 200) {
                    this.cores = response.cores;
                }
                else {
                    this.isInitError = true;
                    this.initErrorMessage = "Could not retrieve configuration data. Please try again later.";
                }

                this.onInit();
            })
            .catch(error => {
                console.log(error);

                this.isInitError = true;
                this.initErrorMessage = "There has been a network or server error. Please try again later. " + error;

                this.onInit();
            });
    },

    mounted: function () {
        $("div.validation-error-alert a.close").click(function(eventObject) {
            $(eventObject.target.parentElement).hide();
        });
    }
};
</script>
