<template>
    <div>
        <h4>{{ core.description }}</h4>

        <div class="row capture-deal-vehicle-core-container">
            <div class="col-sm-3">
                <div class="form-group">
                    <label v-bind:for="core.code + '_is_extracted'">Extracted?</label>
                    <div>
                        <label class="checkbox-inline">
                            <input type="radio" value="yes"
                                v-bind:name="core.code + '_is_extracted'"
                                v-model="isExtracted"
                                v-on:click="isExtractedYesOnClick"> Yes
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" value="no"
                                v-bind:name="core.code + '_is_extracted'"
                                v-model="isExtracted"
                                v-on:click="isExtractedNoOnClick"> No
                        </label>
                    </div>
                </div>
            </div>

            <transition name="slide-fade">
                <div v-show="isExtracted == 'yes'">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label v-bind:for="core.code + '_quantity'">Quantity</label>
                            <input type="number" class="form-control" placeholder="How many parts?" min="0"
                                v-bind:name="core.code + '_quantity'"
                                v-bind:value="core.quantity"
                                v-on:input="quantityOnInput" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label v-bind:for="core.code + '_price_per_unit'">Price per unit</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" class="form-control" placeholder="How much for each?" min="0"
                                    v-bind:name="core.code + '_price_per_unit'"
                                    v-bind:value="core.pricePerUnit"
                                    v-on:input="pricePerUnitOnInput" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label v-bind:for="core.code + '_total_price'">Total</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input readonly type="text" class="form-control" placeholder="Total price"
                                    v-bind:name="core.code + '_total_price'" v-bind:value="totalPriceDisplay" />
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>

    </div>
</template>

<script>
export default {

    props: {
        core: { type: Object }
    },

    data: function () {
        return {
            isExtracted: this.core.isExtracted ? "yes" : "no"
        };
    },

    computed: {
        totalPrice: function () {
            let newTotalPrice = 0.00;

            if (this.core.quantity && this.core.pricePerUnit) {
                newTotalPrice = this.core.quantity * this.core.pricePerUnit;
            }

            this.$emit("computed-total-price", newTotalPrice);
            return newTotalPrice;
        },

        totalPriceDisplay: function () {
            if (this.totalPrice) {
                return Number(this.totalPrice).toFixed(2);
            }

            return "0.00";
        },
    },

    methods: {
        isExtractedYesOnClick: function () {
            this.$emit("change-is-extracted", true);
        },
        isExtractedNoOnClick: function () {
            this.$emit("change-is-extracted", false);
        },
        quantityOnInput: function (event) {
            this.$emit("input-quantity", parseInt(event.target.value));
        },
        pricePerUnitOnInput: function (event) {
            this.$emit("input-price-per-unit", parseFloat(event.target.value));
        }
    }
};
</script>
