<div id="overlay" class="full-screen-overlay">
    <div class="loading-container">
        <img src="img/loading.gif" alt="Loading...">
        <p id="page-loading-error"></p>
    </div>
</div>

<div id="mount_point">
    <manage-vehicle-cores />
</div>

<script src="js/dist/manage.bundle.js"></script>
